*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

@font-face {
  font-family: 'DINCond-Bold';
  src: url(../../css/fonts/DINCond-Bold.ttf); }

@font-face {
  font-family: 'Gotham Narrow Black';
  src: url(../../css/fonts/Gotham-Narrow-Black.otf); }

@font-face {
  font-family: 'Gotham Narrow Book';
  src: url(../../css/fonts/Gotham-Narrow-Book.otf); }

body {
  box-sizing: border-box;
  font-family: 'Gotham Narrow Book', sans-serif;
  font-weight: 400;
  font-size: 1.4rem; }

.btn-add {
  height: 5.6rem;
  width: 5.6rem;
  background: #b71c1c;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer; }
  .btn-add:focus {
    outline: none; }
  .btn-add__icon {
    height: 3.5rem;
    width: 3.5rem;
    fill: #fff; }

.search {
  width: 65%;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .search {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .search {
      width: 40%; } }
  @media only screen and (max-width: 31.25em) {
    .search {
      display: none; } }
  .search__input {
    width: 100%;
    max-height: 3.6rem;
    border: none;
    padding: .9rem 1.6rem;
    margin-right: -3.5rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit; }
    .search__input:focus {
      outline: none; }
  .search__button {
    border: none;
    background: none;
    display: flex;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    fill: #757575;
    height: 2.72rem;
    width: 2.72rem; }

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center; }
  .user-nav__icon-box {
    display: flex;
    align-items: center; }
  .user-nav__dashboard {
    height: 4.9rem;
    width: 4.9rem; }
  .user-nav__user {
    height: 4rem;
    width: 4rem; }

.header-top {
  background: #962e37;
  height: 2.4rem;
  display: flex;
  justify-content: flex-end; }
  .header-top__button {
    border: none;
    background: #b71c1c;
    color: #f8f8ff;
    margin-right: 4rem;
    border-radius: .4rem;
    font-family: 'Gotham Narrow Book';
    font-size: 1.25rem;
    padding: 0 1.6rem;
    height: 1.6rem;
    align-self: center; }
  .header-top__contact {
    font-weight: 700; }

.header {
  height: 100vh; }

.my-store {
  height: 6.4rem;
  background: #d4414e;
  padding: 0 1.2rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .my-store__logo-box {
    display: flex; }
  .my-store__logo {
    height: 4.8rem;
    width: 4.8rem;
    margin-right: 1.6rem; }
  .my-store__title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .5px;
    line-height: 1.4; }
  .my-store__title {
    font-family: gotham narrow black;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .my-store__title {
        font-size: 1.4rem; } }
  .my-store__title-sub {
    font-family: DINCond-Bold;
    color: #fff;
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .my-store__title-sub {
        font-size: 1.4rem; } }
