$color-primary: #d4414e;
$color-primary-light: #b71c1c;
$color-primary-dark: #962e37;


$color-text-primary: #2e2e2e;

$color-gray: #808080;
$color-gray-dark: #757575;
$color-white-dark: #f8f8ff;

$color-white: #fff;
$color-black: #000;


