.btn-add {
    height: 5.6rem;
    width: 5.6rem;
    background: $color-primary-light;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    border-radius: 50%;
    border: none;

    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;

    &:focus {
        outline: none;
    }
    

    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        fill: $color-white;
    }
}